[submodule "IO"]
	path = IO
	url = https://github.com/gonsie/ROSSIO.git
[submodule "models/SR-model"]
	path = models/SR-model
	url = https://github.com/gonsie/SR-model.git
[submodule "cmake-modules"]
	path = cmake-modules
	url = https://github.com/rpavlik/cmake-modules
