[submodule "IO"]
	path = IO
	url = https://github.com/gonsie/ROSSIO.git
[submodule "models/template-model"]
	path = models/template-model
	url = https://github.com/nmcglohon/template-model.git
[submodule "models/ROSS-Models"]
	path = models/ROSS-Models
	url = https://github.com/carothersc/ROSS-Models
